@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Signika+Negative:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Palanquin:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Istok+Web&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sintony&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cute+Font&display=swap');
/* h2 {
  color: white;
  text-align: center;
  display: hidden;
} */

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.694);
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.stage-background {
  width: 100%;
  min-height: 100%;
  height: 100%;
  background-image: url("https://prtimes.jp/i/16356/1783/origin/d16356-1783-310771-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-image: url("https://i.pinimg.com/originals/be/27/bf/be27bf8c89d941c56d0350e5ef5ee4f6.jpg");
  background-size: cover;
  background-repeat: no-repeat; */
}

.game-main {
  width: 100%;
  min-height: 100%;
  height: 100%;
  background-image: url("https://i.pinimg.com/originals/be/27/bf/be27bf8c89d941c56d0350e5ef5ee4f6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.stage-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: linear-gradient(black, transparent);
  position: relative;
}

.stage-curtain {
  width: 100%;
  height: 50%;
  background: linear-gradient(black, transparent);
  z-index: 3;
  top: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MIDISounds {
  display: none;
}

.all-columns {
  width: 375px;
  display: flex;
  border-right: 1px solid rgb(159, 159, 159);
  position: fixed;
  bottom: 0;
  overflow-y: hidden;
  height: 100%;
}

.column-container {
  width: 95.75px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgb(18, 18, 18);
  border-left: 1px solid rgb(159, 159, 159);
  overflow-x: hidden;
  position: relative;
  bottom: 0;
  height: 100%;
}

.column-1 .button-container {
  border-top: 40px solid rgb(113, 34, 34);
}

.column-1 .button-container.pressed {
  border-top: 40px solid rgb(172, 54, 54);
}

.column-2 .button-container {
  border-top: 40px solid rgb(31, 42, 128);
}

.column-2 .button-container.pressed {
  border-top: 40px solid rgb(58, 81, 214);
}

.column-3 .button-container {
  border-top: 40px solid rgb(136, 71, 31);
}

.column-3 .button-container.pressed {
  border-top: 40px solid rgb(198, 112, 46);
}

.column-4 .button-container {
  border-top: 40px solid rgb(145, 135, 23)
}

.column-4 .button-container.pressed {
  border-top: 40px solid rgb(202, 197, 52);
}

.button-container {
  max-width: 150px;
  max-height: 140px;
  position: relative;
  font-family: "Cute Font";
}

.button-key-binding {
  position: absolute;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  color: rgba(255, 255, 255, 0.836);
  text-shadow: 2px 2px 8px black, -1px -1px 8px black;
  background-color: rgba(0, 0, 0, 0.192);
  border: 6px solid rgb(77, 77, 77);
  font-size: 70px;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.button-key-binding {
  border-style: outset;
}

#key-1.pressed, #key-2.pressed, #key-3.pressed, #key-4.pressed  {
  border: 6px solid rgb(77, 77, 77);
  border-style: inset;
  background-color: transparent;
}

.button-key-binding >span {
  border: 2px solid rgba(29, 29, 29, 0.201);
  border-radius: 10px;
  background-color: rgba(31, 31, 31, 0.65);
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(193, 193, 193);
}

.button {
  max-width: 150px;
  width: 100%;
  height: 165px;
  max-height: 140px;
  object-fit: cover;
}


#show-score-playing {
  position: absolute;
  top: 0;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 37;
  z-index: 5;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}

#score-playing-inner {
  color: rgb(138, 138, 138);
}

.stage-completed-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.721);
  z-index: 10;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-family: "Staatliches"; */
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
}

.stage-completed-container {
  width: 250px;
  height: 320px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 20px;
  /* font-family: "Cute font"; */
  animation: boxglow 2s ease-in-out infinite alternate;
}

@keyframes boxglow {
  from {
    box-shadow: 0px 0px 5px 5px rgb(237, 115, 115)
  }
  to {
    box-shadow: 0px 0px 5px 5px rgb(223, 219, 114)
  }
}

.stage-completed-container > h2 {
  font-size: 28px;
}

.stage-complete-info {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 30px;
}

.stage-letter-grade {
  height: 120px;
  width: 100px;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 140px;
  font-weight: bold;
}

.stage-complete-counts {
  font-size: 18px;
}

.stage-complete-counts span {
  margin-right: 10px;
}

.stage-complete-exit-button {
  cursor: pointer;
  font-size: 18px;
  color: rgb(182, 182, 182);
  font-weight: 600;
}

.stage-complete-exit-button > i {
  margin-right: 10px;
  
}

.stage-complete-exit-button:hover {
  color: white;
}

.start-modal {
  z-index: 20;
  color: white;
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'PT Sans', sans-serif;
  background-color: rgba(0, 0, 0, 0.344);
}

.start-modal > div {
  text-align: center;
  font-weight: 600;
  color: lightgray;
}

.controls-container {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  color: rgb(167, 167, 167);
  font-size: 25px;
  cursor: pointer;
  margin: 20px;
  width: 30px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.controls-container i:hover {
  color: white;
}

.fa-angle-double-left {
  font-size: 35px;
}

.controls-container .fa-play {
  margin-bottom: 5px;
  font-size: 22px;
}

.controls-container .fa-volume-up {
  font-size: 22px;
}

.controls-container .fa-volume-off {
  padding-right: 5px;
}

.score-count-module {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-size: 45px;
  z-index: 15;
  margin-right: 18px;
  margin-top: 8px;
  font-family: "Cute Font", cursive;
}





/* STAGE SELECT */

.stage-select-main {
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: relative;
  top: 0;
}

.stage-select-page-container {
  width: 100%;
  min-height: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.434);
  color: white;
  /* font-family: 'Signika Negative', sans-serif; */
  /* font-family: 'Palanquin', sans-serif; */
  /* font-family: 'Istok Web', sans-serif; */
  /* font-family: 'Sintony', sans-serif; */
  font-family: 'PT Sans', sans-serif;
  /* font-family: 'Open Sans', sans-serif; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.stage-select-page-title {
  font-size: 49px;
  display: flex;
  align-items: center;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 43px;
  text-align: center;
  text-shadow: 5px 5px 10px black, -5px -5px 10px black;
  justify-content: center;
  flex-direction: column;
}

.stage-select-page-title > div {
  margin-bottom: 25px;
}

.stage-select-page-title img {
  width: 90px;
  height: 90px;
  margin-bottom: 43px;
}

.stage-select-container {
  height: 480px;
  width: 400px;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.742);
}

.stage-select {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: default;
}

.stage-select > h2 {
  font-size: 33px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 600;
  padding-bottom: 3px;
  /* font-weight: 400; */
  color: lightgray;
  border-bottom: 2px solid rgba(211, 211, 211, 0.548);
}

.stage-select li {
  margin: 15px 0px;
  font-size: 25px;
  cursor: pointer;
  color: lightgray;
  display: flex;
  align-items: center;
  /* font-weight: bold; */
}

.stage-select i {
  margin-right: 20px;
  margin-left: 10px;
  font-size: 15px;
  color: rgb(145, 145, 145);
}
.stage-select li:hover {
  color: white;
}

.stage-select li:hover i {
  color: white;
}

@media only screen and (max-width: 430px) {
  .stage-select-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.495);
  }

  .stage-select-page-title {
    margin-top: 0;
  }

  .button-key-binding > span {
    display: hidden;
  }

  #key-span-1, #key-span-2, #key-span-3, #key-span-4 {
    display: none;
  }
}







/* Loading Spinner */

.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #ffffff;
  text-indent: -9999em;
  /* margin: 88px auto; */
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
